.main {
  min-height: 80vh;
}
.user-main {
  min-height: 80vh;
  width: calc(100% - 200px);
}

/* sign in page */

.SignInPage {
  min-height: 100vh;
  background: url(./assets/image2.jpg) center no-repeat;
  background-size: cover;
}

.signUpPage {
  background: url(./assets/image5.jpg) center no-repeat;
  background-size: cover;
}
